<!-- ***** Point Category Status Start ***** -->
<div class="mat-dialoge" *ngIf="modalData.pageType === 'point_category'">
    <app-modal-header [title]="'Update Point Category'" [closeBtn]="true" (close)="closeModal()">
    </app-modal-header>
    
    <form [formGroup]="pointCategoryForm" (ngSubmit)="submit()">
        <mat-dialog-content class="mat-typography">
            <div class="grid grid-cols-12 gap-x-6">
                <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 col-span-12">
                    <spk-ng-select
                    formControlName="point_category_id"
                    label="Point Category"
                    [fieldReq]="true"
                    [options]="pointCategory"
                    (selectedChange)="findName($event)"
                    >
                </spk-ng-select>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <app-button mat-dialog-close [buttonType]="'button'" [buttonClass]="'ti-btn ti-btn-outline-danger m-2'" [label]="'Cancel'"></app-button>
        <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled" [formType]="'add'" [iconClass]="'ri-save-line'"  [loadingIconClass]="'ri-loader-2-fill'"></app-button>
    </mat-dialog-actions>
</form>
</div>
<!-- ***** Point Category Status End ***** -->




<!-- ***** Dispatch Config Start ***** -->
<div class="mat-dialoge" *ngIf="modalData.pageType === 'dispatch'">
    <app-modal-header [title]="'Dispatch Config'"[closeBtn]="true" (close)="closeModal()">
    </app-modal-header>
    <form [formGroup]="dispatchForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content class="mat-typography">
            <div class="grid grid-cols-12 gap-x-4 gap-x-4">
                <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                    <spk-input label="Box Size" formControlName="box_size" class="remove-default-class" [fieldReq]="true" type="number"></spk-input>
                </div>
                <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                    <spk-ng-select formControlName="qr_genration" label="Qr Genration" [fieldReq]="true"
                        [options]="options" (selectedChange)="findName($event)">
                    </spk-ng-select>
                </div>
                <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                    <spk-ng-select formControlName="box_with_item" label="Box With Item" [fieldReq]="true"
                        [options]="options" (selectedChange)="findName($event)">
                    </spk-ng-select>
                </div>
                <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                    <spk-input label="UOM" formControlName="uom" class="remove-default-class" [fieldReq]="true"
                        type="text"></spk-input>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <app-button mat-dialog-close [buttonType]="'button'" [buttonClass]="'ti-btn ti-btn-outline-danger m-2'"
                [label]="'Cancel'"></app-button>
            <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled"
                [formType]="'add'" [iconClass]="'ri-save-line'" [loadingIconClass]="'ri-loader-2-fill'"></app-button>
        </mat-dialog-actions>
    </form>
</div>
<!-- ***** Dispatch Config End ***** -->