<app-page-header [title]="'SFA'" [title1]="['Expense']" [activeitem]="'Expense List'" [btnShow1]="accessRight?.modifyRight" [buttonText1]="'Header Config'" [icon1]="'settings'" [dataHsOverlay]="'#expense-header-config'" (buttonClick1)="openHeaderSettingModal()"></app-page-header>

<!-- <div class="box py-3 px-4">
</div> -->

<!-- Start::row-1 -->
<div class="box py-3 px-4">
    <div class="col-xl-12">
        <div class="row">
            <ng-container *ngIf="skLoading">
                <div class="flex items-center gap-3">
                    <app-skeleton [class]="'w100 h30 bg-skeleton'" *ngFor="let row of [].constructor(5)"></app-skeleton>
                </div>
            </ng-container>
            
            <ng-container *ngIf="!skLoading">
                <nav class="sm:flex sm:space-x-2 sm:rtl:space-x-reverse gap-1" aria-label="Tabs" role="tablist">
                    <app-listing-tab *ngFor="let tab of mainTabs"
                    [tabs]="[{ name: tab.name, label: tab.label,icon: tab.icon, count: tab.count}]"
                    [activeTab]="activeTab"
                    (tabChange)="onTabChange($event.tab)"></app-listing-tab>
                </nav>
            </ng-container>
            
            
            <app-page-sub-header [pageTitle]="'Expense List'" [class]="'p-0 pt-2'"  [refreshLabel]="'Refresh'" [addBtnLabel]="'Add Expense'" [btnShow]="true" [btnShow2]="accessRight?.addRight" (onRefresh)="onRefresh()" (button1)="updateExpenseWiseExpense('')"></app-page-sub-header>
            
            <div class="table-responsive overflow-auto table-bordered-default">
                <spk-reusable-tables tableClass="ti-custom-table ti-custom-table-head ti-custom-table-hover ti-head-primary whitespace-nowrap" [tableHead]="'border-b'" [showCheckbox]="false" [showS_No]="true" [showSorting]="false"  [showFilterRow]="true" [showAction]="true" [columns]="visibleHeaders" (sortChanged)="onSortChanged($event)" (selectionChange)="handleSelectionChange($event)" (textSearchChange)="updateSearchFilter($event)" (dateChange)="handleDateChange($event)" (dateRangeChange)="handleDateRangeChange($event)" #reusableTable [subModule]="subModule">
                    <ng-container *ngIf="!skLoading">
                        <tr class="expense-list border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of expenseListing; let i = index;">
                            <td class="!text-center">{{i+1}}</td>
                            <ng-container *ngFor="let header of visibleHeaders">
                                <td>
                                    <span *ngIf="header.name.endsWith('_at')">
                                        {{ (row?.[header.name] || row?.form_data?.[header.name]) | date: 'd MMM yyyy, hh:mm a' }}
                                    </span>
                                    
                                    <span *ngIf="!header.name.endsWith('_at') && header.name.includes('date')">
                                        {{ (row?.[header.name] || row?.form_data?.[header.name]) | date: 'd MMM yyyy' }}
                                    </span>
                                    
                                    <span *ngIf="header.name === 'expense_id'">
                                        <a class="text-primary font-semibold underline" (click)="goToDetailPage(row._id)">
                                            {{ row?.[header.name] || row?.form_data?.[header.name] || '--' }}
                                        </a>
                                    </span>

                                    <span *ngIf="header.name === 'is_expesne_senior_status'">
                                        <a class="text-primary font-semibold underline" (click)="goToDetailPage(row._id)">
                                            {{ row?.[header.name] || row?.form_data?.[header.name] || '--' }}
                                        </a>
                                    </span>
                                    <span *ngIf="!(header.name.includes('date') || header.name.endsWith('_at') || header.name === 'expense_id' || header.name === 'is_expesne_senior_status')">
                                        {{ row[header?.actual_name || header?.name] ?? (row['form_data']?.[header?.name]) ?? '--' }}
                                    </span>
                                </td>
                            </ng-container>
                            <td class="!text-center relative w100">
                                <div class="flex flex-row items-center !gap-2 text-[0.9375rem]">
                                    <app-icon-button [icon]="'ri-delete-bin-line'" [buttonClass]="'ti-btn btn-wave expense-btn ti-btn-sm ti-btn-soft-danger waves-effect waves-light'" (clickEvent)="onDeleteLeave(row._id)" *ngIf="accessRight?.deleteRight"> </app-icon-button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    
                    <!-- //--skeleton--// -->
                    <ng-container *ngIf="skLoading">
                        <tr class="border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of [].constructor(10)">
                            <td *ngFor="let row of [].constructor(10)">
                                <app-skeleton [class]="'h20 bg-skeleton'"></app-skeleton>
                            </td>
                        </tr>
                    </ng-container>
                    <!-- //--skeleton--// -->
                </spk-reusable-tables>
                <ng-container *ngIf="!expenseListing.length && !skLoading">
                    <app-data-not-found></app-data-not-found>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
