<app-page-header [title]="'IRP'" [title1]="['Bonus']" [activeitem]="'Badges list'" [btnShow1]="false"></app-page-header>

<div class="box py-3 px-4">
    <nav class="sm:flex sm:space-x-2 sm:rtl:space-x-reverse gap-1" aria-label="Tabs" role="tablist">
        <ng-container *ngIf="skLoading">
            <app-skeleton  *ngFor="let row of [].constructor(2)" [class]="'w100 h25'"></app-skeleton>
        </ng-container>
        <ng-container *ngIf="!skLoading">
            <app-listing-tab *ngFor="let tab of mainTabs"
            [tabs]="[{ name: tab.name, label: tab.label,count: tab.count}]"
            [activeTab]="activeTab"
            (tabChange)="onTabChange($event.tab)">
        </app-listing-tab>
    </ng-container>
</nav>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <app-page-sub-header [pageTitle]="'Badges List'"  [refreshLabel]="'Refresh'" [btnShow]="true" [btnShow2]="accessRight?.addRight"  [class]="'p-0 pt-3'"  [addBtnLabel]="'Add Badge'"  (onRefresh)="onRefresh()" (button1)="goToGiftAdd()"></app-page-sub-header>
        
        <div class="table-responsive overflow-auto table-bordered-default">
            <div
            class="table-responsive overflow-auto table-bordered-default">
            <spk-reusable-tables
            tableClass="ti-custom-table ti-custom-table-hover ti-head-primary"
            [tableHead]="'border-b'"
            [tableHeadColumn]="'!text-center'"
            [tableHeight]="'630px'" [showCheckbox]="false"
            [columns]="listColumns">
            <tr
            class="border-b !border-defaultborder dark:!border-defaultborder/10">
            <td class="!text-center">&nbsp;</td>
            <td class="!text-center">&nbsp;</td>
            <td>
                <div class="table-search-filters">
                    <mat-form-field class="table-input">
                        <input matInput  [matDatepicker]="picker" [(ngModel)]="filter.created_at" name="createdAt" placeholder="Date Created" (ngModelChange)="onDateChange('created_at', $event)">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>  
                </div>
            </td>
            <td class="!text-center">
                <div class="table-search-filters">
                    <mat-form-field class="table-input">
                        <input matInput type="text"
                        [(ngModel)]="filter.created_name"
                        placeholder="Search..."
                        (keyup.enter)="getBadgesList()">
                        @if (filter.created_name) {
                            <button matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="filter.created_name='';getBadgesList()">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>
            </div>
        </td>
        <td class="!text-center">
            <div class="table-search-filters">
                <mat-form-field class="table-input">
                    <input matInput type="text"
                    [(ngModel)]="filter.customer_type_name"
                    placeholder="Search..."
                    (keyup.enter)="getBadgesList()">
                    @if (filter.customer_type_name) {
                        <button matSuffix mat-icon-button
                        aria-label="Clear"
                        (click)="filter.customer_type_name='';getBadgesList()">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
        </div>
    </td>
    <td class="!text-center">
        <div class="table-search-filters">
            <mat-form-field class="table-input">
                <input matInput type="text"
                [(ngModel)]="filter.title"
                placeholder="Search..."
                (keyup.enter)="getBadgesList()">
                @if (filter.title) {
                    <button matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="filter.title='';getBadgesList()">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
    </div>
</td>
<td class="!text-center">
    <div class="table-search-filters">
        <mat-form-field class="table-input">
            <input matInput  [matDatepicker]="picker1" [(ngModel)]="filter.start_date" name="start_date" placeholder="Start Date" (ngModelChange)="onDateChange('start_date', $event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>  
    </div>
</td>
<td class="!text-center">
    <div class="table-search-filters">
        <mat-form-field class="table-input">
            <input matInput  [matDatepicker]="picker2" [(ngModel)]="filter.end_date" name="end_date" placeholder="End Date" (ngModelChange)="onDateChange('end_date', $event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>  
    </div>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<ng-container *ngIf="!skLoading">
    <tr
    class="border-b !border-defaultborder dark:!border-defaultborder/10"
    *ngFor="let row of badgesMasterList; let i = index; trackBy: trackById">
    <td class="!text-center">{{
        (pagination.cur_page - 1) *
        pagination.limit + i + 1 }}</td>
        <td>
            <div class="flex items-center">
                <span class="avatar avatar-sm me-2 avatar-rounded">
                    <ng-container *ngFor="let row of row.files">
                        <img  [src]="row.signed_url" alt="Gift Image" (click)="comanFuncation.zoom(row._id, 'badges/get-doc')">
                    </ng-container>
                </span>
            </div>
        </td>                                    
        <td>{{row.created_at ? (row.created_at |date : 'dd MMM yyyy hh:mm a') : '---'}}</td>
        <td>{{row.created_name ? row.created_name : '---'}}</td>
        <td>{{row.customer_type_name || '--'}}</td>
        <td>{{row.title || '--'}}</td>
        <td>{{row.start_date ? (row.start_date | date:'d MMM yyyy') : '---'}}</td>
        <td>{{row.end_date ? (row.end_date | date:'d MMM yyyy') : '---'}}</td>
        <td>{{row.incentive_type || '--'}} {{row.incentive_value ? ('(' +row.incentive_value+')') : ''}}</td>
        <td class="text-right"><strong>{{row.eligible_points ? (row.eligible_points + 'PT'):'---'}}</strong></td>
        <td>
            <span class="badge">
                <app-toggle [checked]="row.isChecked" (checkedChange)="onToggleChange($event, row._id, row.status)"></app-toggle>
            </span>
        </td>
        <td>
            <div>
                <app-icon-button [icon]="'ri-file-list-line'" [buttonClass]="'ti-btn btn-wave  ti-btn-sm ti-btn-soft-primary waves-effect waves-light'" (clickEvent)="openMainLogModal(row._id)"> </app-icon-button>
                
                <app-icon-button [icon]="'ri-delete-bin-line'" [buttonClass]="'ti-btn btn-wave product-btn ti-btn-sm ti-btn-soft-danger waves-effect waves-light'" (clickEvent)="
                delete(row._id, 'badges/delete', row.title)" *ngIf="accessRight?.deleteRight"> </app-icon-button>
            </div>
        </td>
    </tr>
</ng-container>

<!-- //--skeleton--// -->
<ng-container *ngIf="skLoading">
    <tr
    class="border-b !border-defaultborder dark:!border-defaultborder/10"
    *ngFor="let row of [].constructor(9)">
    <td *ngFor="let row of [].constructor(12)">
        <app-skeleton
        [class]="'h20 bg-skeleton'"></app-skeleton>
    </td>
</tr>
</ng-container>
<!-- //--skeleton--// -->
</spk-reusable-tables>

<ng-container *ngIf="!badgesMasterList.length && !skLoading">
    <app-data-not-found></app-data-not-found>
</ng-container>
</div>
<app-pagination-footer
[currentPage]="pagination.cur_page"
[totalPage]="pagination.total_pages"
[pageLimit]="pagination.limit"
[listLength]="badgesMasterList.length"
[preBtn]="!pagination.prev"
[nextBtn]="!pagination.next"
(preButtonClick)="changeToPagination('Previous')"
(nextButtonClick)="changeToPagination('Next')"
(pageChange)="changeToPage($event)"></app-pagination-footer>
</div>
</div>
</div>
</div>

<!--End::row-1 -->
