<app-page-header [title]="'IRP'" [title1]="['Purchase']" [activeitem]="'Purchase Detail'"></app-page-header>
<div class="grid grid-cols-12 sm:gap-x-6">
    <div class="xl:col-span-12 col-span-12">
        <div class="grid grid-cols-12 sm:gap-x-6">
            <div class="xl:col-span-12 col-span-12">
                <app-showcode-card [title]="'Purchase Detail'" [class]="'text-primarytint1color'" [boxHeader]="'pt-3'" [classbody]="'pt-0'"  [titleView]="true">
                    <ul class="ti-list-group list-group-flush border-0" *ngIf="!skLoading">
                        <li>
                            <div class="flex items-center gap-5 flex-wrap text-[12px]">
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium "> {{purchaseDetail.created_at ? (purchaseDetail.created_at | date : 'dd MMM yyyy') : '---'}}</span>
                                        <span class="text-textmuted dark:text-textmuted/50">Date Created</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium ">{{purchaseDetail.created_name ? (purchaseDetail.created_name | titlecase) : '---'}}</span>
                                        <span class="text-textmuted dark:text-textmuted/50">Created By</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium ">{{purchaseDetail.customer_type_name ? (purchaseDetail.customer_type_name) : '---'}}</span>
                                        <span class="text-textmuted dark:text-textmuted/50">Customer Type</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium ">{{purchaseDetail.customer_name ? purchaseDetail.customer_name : '---'}} </span>
                                        <span class="text-textmuted dark:text-textmuted/50">Customer Details</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium">{{purchaseDetail.bill_number ? (purchaseDetail.bill_number) : '---'}}</span>
                                        <span class="text-textmuted dark:text-textmuted/50">Bill Number</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium">{{purchaseDetail.bill_date ? (purchaseDetail.bill_date | date : 'dd MMM yyyy') : '---'}}</span>
                                        <span class="text-textmuted dark:text-textmuted/50">Bill Date</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium">₹  
                                            {{purchaseDetail.bill_amount ? purchaseDetail.bill_amount : '---'}}
                                        </span>
                                        <span class="text-textmuted dark:text-textmuted/50">Bill Amount Without GST</span>
                                    </div>
                                </div>
                                
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium ">{{purchaseDetail.total_item ? purchaseDetail.total_item : '---'}}</span>
                                        <span class="text-textmuted dark:text-textmuted/50">Total Items</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="block font-medium ">
                                            {{purchaseDetail.total_qty ? purchaseDetail.total_qty : '---'}}
                                        </span>
                                        <span class="text-textmuted dark:text-textmuted/50">Total Qty</span>
                                    </div>
                                </div>
                                
                                <div class="flex items-center me-2 gap-3 flex-wrap">
                                    <div>
                                        <span class="font-medium" [ngClass]="{ 'text-success': purchaseDetail.status === 'Approved', 'text-warning': purchaseDetail.status === 'Pending','text-danger': purchaseDetail.status === 'Reject'}">
                                            {{purchaseDetail.status ? purchaseDetail.status : '---'}}
                                        </span>
                                        <span class="block text-textmuted dark:text-textmuted/50">Status</span>
                                    </div>
                                    <app-icon-button [icon]="'ri-pencil-line'" [buttonClass]="'btn-wave ti-btn ti-btn-sm ti-btn-soft-primary waves-effect waves-light'" matTooltip="Change Status" (click)="openModal()" *ngIf="purchaseDetail.status === 'Pending'"></app-icon-button>
                                </div>
                                
                                <div class="flex items-center me-2 flex-wrap" *ngIf="purchaseDetail.remarks">
                                    <div>
                                        <span class="block font-medium">{{purchaseDetail.remarks ? purchaseDetail.remarks : '---'}}</span>
                                        <span class="block text-textmuted dark:text-textmuted/50">Reject Reason</span>
                                    </div>
                                </div>
                                
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="text-success text-[0.9375rem] font-bold">{{totalPointValue ? totalPointValue : '---'}}</span>
                                        <span class="block text-textmuted dark:text-textmuted/50">Claim Point</span>
                                    </div>
                                </div>
                                <div class="flex items-center me-2 flex-wrap">
                                    <div>
                                        <span class="text-success text-[0.9375rem] font-bold">{{purchaseDetail.approved_point ? purchaseDetail.approved_point : '---'}}</span>
                                        <span class="block text-textmuted dark:text-textmuted/50">Transfered Point</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    
                    <!-- Loading Start -->
                    
                    <div  *ngIf="skLoading">
                        <div class="flex gap-2 mb-1 flex-wrap">
                            <div class="flex items-center" *ngFor="let card of [].constructor(10)">
                                <app-skeleton [class]="'w180'"></app-skeleton>
                            </div>
                        </div>
                    </div>
                    <!-- Loading End -->
                </app-showcode-card>
            </div>
        </div>
        
        
        <div class="grid grid-cols-12 sm:gap-x-6" *ngIf="!skLoading">
            <div class="xl:col-span-8 col-span-12">
                <app-showcode-card [title]="'Product Details'" [class]="'text-primarytint1color'" [boxHeader]="'pt-3'"
                [classbody]="'pt-0'" [titleView]="true">
                <div class="table-responsive overflow-auto table-bordered-default">
                    <spk-reusable-tables tableClass="ti-custom-table ti-custom-table-head" [columns]="itemColumn" [showCheckbox]="false">
                        <tr *ngFor="let row of purchaseDetail.selectedItem; let i = index" class="border-b !border-defaultborder dark:!border-defaultborder/10">
                            <td class="w50">
                                <div class="font-medium">
                                    {{i+1}}
                                </div>
                            </td>
                            
                            <td>
                                <div class="font-medium">
                                    {{ row.label ? row.label : '---' }}
                                </div>
                            </td>
                            <td class="product-quantity-container text-center w80">
                                {{row.qty ? row.qty : '---' }}
                            </td>
                            <td class="w120 text-right">{{row.point_value ? row.point_value : '0'}}</td>
                            
                        </tr>
                    </spk-reusable-tables>
                </div>
                <table class="ti-custom-table text-nowrap" >
                    <tbody>
                        <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                            <td class="text-right">
                                <div class="font-semibold">Total Item :</div>
                            </td>
                            <td class="text-right"><span class="font-medium">{{purchaseDetail?.selectedItem.length}}</span></td>
                        </tr>
                        <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                            <td class="text-right">
                                <div class="font-semibold">Total Item Qty:</div>
                            </td>
                            <td class="text-right"><span class="font-medium">{{totalItemQuantity}}</span></td>
                        </tr>
                        <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                            <td class="text-right">
                                <div class="font-semibold">Total Point Value</div>
                            </td>
                            <td class="text-right"><span class="text-right font-medium">{{totalPointValue}}</span></td>
                        </tr>
                    </tbody>
                </table> </app-showcode-card>
            </div>
            <div class="xl:col-span-4 col-span-12">
                <app-showcode-card [title]="'Uploaded Bill Document'" [class]="'box-title font-medium text-[15px] block text-primarytint1color'"
                [titleView]="true" [iconClass]="'ti-btn btn-wave ti-btn-sm ti-btn-soft-primary waves-effect waves-light'"
                [classbody]="'pt-0'" [iconName]="'ri-add-line'">
                <div class="grid grid-cols-12 gap-x-4" *ngIf="purchaseDetail?.files?.length > 0">
                    <div class="xxl:col-span-4 lg:col-span-4 xl:col-span-4 sm:col-span-6 col-span-12" *ngFor="let image of purchaseDetail?.files">
                        <spk-product-card [apiPath]="'purchase/get-doc'" [imageData]="image" [editBtn]="false"
                        [delBtn]="false" [heading]="false" [subHeading]="false"></spk-product-card>
                    </div>
                </div>
                
                <ng-container *ngIf="purchaseDetail?.files?.length === 0">
                    <app-data-not-found></app-data-not-found>
                </ng-container></app-showcode-card>
            </div>
        </div>
    </div>
</div>
