<app-page-header [title]="'Loyalty'" [title1]="['Referral Program']" [activeitem]="'Referral Program List'"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="box">
            <app-page-sub-header [pageTitle]="'Referral Program List'" [listLength]="listing.length" [btnShow]="true" [refreshLabel]="'Refresh'" (onRefresh)="onRefresh()" [btnShow1]="true" [logsLabel]="'Logs'" (logBtn)="openMainLogModal('')" [btnShow2]="accessRight?.addRight" [addBtnLabel]="'Add Referral Program'"  (button1)="openModal('add','')"></app-page-sub-header>
            
            <div class="box-body">
                <div class="table-responsive overflow-auto table-bordered-default">
                    <spk-reusable-tables tableClass="ti-custom-table ti-custom-table-hover ti-head-primary whitespace-nowrap"[tableHead]="'border-b'" [showCheckbox]="false" [showS_No]="true"  [showAction]="false" [columns]="PageHeaders">
                        <ng-container *ngIf="!skLoading">
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="!text-center">
                                    <div class="table-search-filters">
                                        <mat-form-field class="table-input">
                                            <input matInput type="text" [(ngModel)]="filter.bonus_type" placeholder="Search..." (keyup.enter)="getList()">
                                            @if (filter.bonus_type) {
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.bonus_type=''; getList()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            }
                                        </mat-form-field>
                                    </div>
                                </td>
                                <td class="!text-center">
                                    <div class="table-search-filters">
                                        <mat-form-field class="table-input">
                                            <input matInput type="text" [(ngModel)]="filter.customer_type_name" placeholder="Search..." (keyup.enter)="getList()">
                                            @if (filter.customer_type_name) {
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.customer_type_name=''; getList()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            }
                                        </mat-form-field>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="table-search-filters">
                                        <mat-form-field class="table-input">
                                            <input matInput type="text" [(ngModel)]="filter.status" placeholder="Search..." (keyup.enter)="getList()">
                                            @if (filter.status) {
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.status=''; getList()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            }
                                        </mat-form-field>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="product-list border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of listing; let i = index;" [class.bg-gray-400]="isHighlighted(row._id)">
                                <td class="!text-center">{{(pagination.cur_page - 1) * pagination.limit + i + 1 }}</td>
                                <td>{{ row.created_at ? (row.created_at | date:'d MMM yyyy, hh:mm a') : '--' }}</td>
                                <td>{{row.created_name || '--'}}</td>
                                <td>{{row.bonus_type || '--'}}</td>
                                <td>{{row.customer_type_name || '--'}}</td>
                                <td class="text-center">{{row.bonus_point || '--'}}</td>
                                <td><span class="ellipsis" matTooltip="{{row.admin_working_flow}}">{{row.admin_working_flow || '--'}}</span></td>
                                <td class="text-center">
                                    <span class="badge bg-primary/10">
                                        <a class="text-info font-medium text-primary" (click)="openModal('view','')" *ngIf="row.transfer_points > 0"><i class="material-icons ms-1 text-primary">screen_share</i>{{row.transfer_points || '--'}}</a>
                                        <a class="text-info font-medium  text-primary" *ngIf="row.transfer_points <= 0"> {{ row.transfer_points || '--' }}</a>
                                    </span>
                                </td>
                                <td><span class="ellipsis" matTooltip="{{row.user_working_flow}}">{{row.user_working_flow || '--'}}</span></td>
                                <td>
                                    <app-toggle [checked]="row.isChecked" (checkedChange)="onToggleChange($event, row._id, row.status)"></app-toggle>

                                </td>
                                <td class="w140 relative">
                                    <div class="flex flex-row items-center !gap-2 text-[0.9375rem]">
                                        <app-icon-button [icon]="'ri-file-list-line'" [buttonClass]="'ti-btn btn-wave  ti-btn-sm ti-btn-soft-primary waves-effect waves-light'" (clickEvent)="openMainLogModal(row._id)"> </app-icon-button>
                                        <app-icon-button [icon]="'ri-edit-line'" [buttonClass]="'ti-btn btn-wave  ti-btn-sm ti-btn-soft-success waves-effect waves-light'" (clickEvent)="openModal('edit' , row)" *ngIf="accessRight?.modifyRight"> </app-icon-button>
                                        <app-icon-button [icon]="'ri-delete-bin-line'" [buttonClass]="'ti-btn btn-wave product-btn ti-btn-sm ti-btn-soft-danger waves-effect waves-light'"  (clickEvent)="delete(row._id, 'referral-bonus/delete', row.bonus_type)" *ngIf="accessRight?.deleteRight"> </app-icon-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- //--skeleton--// -->
                        <ng-container *ngIf="skLoading">
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of [].constructor(8)">
                                <td *ngFor="let row of [].constructor(11)">
                                    <app-skeleton [class]="'h20 bg-skeleton'"></app-skeleton>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- //--skeleton--// -->
                    </spk-reusable-tables>
                    <ng-container *ngIf="listing.length === 0  && !skLoading">
                        <app-data-not-found></app-data-not-found>
                    </ng-container>
                </div>
            </div>
            
            <app-pagination-footer [currentPage]="pagination.cur_page" [totalPage]="pagination.total_pages" [pageLimit]="pagination.limit" [listLength]="listing.length" [preBtn]="!pagination.prev" [nextBtn]="!pagination.next" (preButtonClick)="changeToPagination('Previous')" (nextButtonClick)="changeToPagination('Next')" (pageChange)="changeToPage($event)"></app-pagination-footer>
        </div>
    </div>
</div>
<!--End::row-1 -->