<!-- // -----Status Start----- // -->
<div class="mat-dialoge" *ngIf="modalData.pageType === 'edit'">
    <app-modal-header [title]="(pageType | titlecase) + ' Status'" [closeBtn]="true" (close)="closeModal()">
    </app-modal-header>
    <form [formGroup]="statusForm" (ngSubmit)="updateStatus()">
        <mat-dialog-content class="mat-typography">
            <div class="grid grid-cols-12 gap-x-6">
                <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 col-span-12">
                    <spk-ng-select
                    formControlName="status"
                    label="Status"
                    [fieldReq]="true"
                    [options]="callRequestStatusList"></spk-ng-select>
                </div>
                <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 col-span-12" *ngIf="statusForm.get('status')?.value !== 'Pending'">
                    <spk-ng-select
                    formControlName="sub_status"
                    label="Sub Status"
                    [fieldReq]="true"
                    [options]="statusTypeList"></spk-ng-select>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <app-button mat-dialog-close [buttonType]="'button'" [buttonClass]="'ti-btn ti-btn-outline-danger m-2'" [label]="'Cancel'"></app-button>
            <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled" [formType]="'add'" [iconClass]="'ri-save-line'"  [loadingIconClass]="'ri-loader-2-fill'"></app-button>
        </mat-dialog-actions>
    </form>
</div>
<!-- // -----Status Start----- // -->
